

<!-- Section Header Title -->
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2>About us</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->
</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">About Us</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->

<div class="line"></div>

<!-- Component Counter Up-->
<section>
  <div class="container">
    <div class="row">
      
          <div class="col-sm-6" style="margin-top:90px;">
            <%= image_tag "About/2.jpg", class: "img-responsive", alt: "Image" %>
          </div>
       <div class=" col-sm-6">
          <h2>About Us</h2>
          <div class="clearfix"></div>
          <p class="text-justify">We are SEBI registered Investment Advisor, our approach is to research the equity, commodity, Forex,
Derivative market and generates recommendation for the traders and Investors, according to the
individuals risk profiling and financial goal, we have highly skill team for technical and fundamentalresearch, each member of our team is having rich experience of the financial market. We have great ITinfrastructure for the research work. We have some association with some of the renound organizationof financial market.We believe in the quality services and value, our clients are highly satisfied with our services. They havemade great profit on our recommendation that you can see on the testimonials written by them.Wealso provide financial consultancy services to thecorporate for their financial decisions.Our mission is to provide well researched trading calls for the wealth creations and also educate the
investor through our published report and live webinar for their Profound knowledge of the financialmarket.Our vision is to increase the participation of Indian people in the growing financial market of India through the consulting and educating of financial market. </p>
        </div><!-- End col -->
      </div><!-- End row -->
    </div><!-- End container-->
  </section><!-- End section-->

     

  <div class="container">
    <div class="line"></div>
  </div>
  <!-- Component Our Experts Owl -->
  <section>
    <!-- Component Our Experts Owl -->
  <div class="container">
  <section>
      <div class="row">
        <div>
          <h2 class="title">Our Work Approach:-</h2>  
          <p>
            We have a strong researcher team for the technical and fundamental research. we do fundament research work of each stock or investment option which we recomandate for the trading and investment, we follow the principal of EIC analysis before the recommendation of any stock, E standsfor Economy, I stands for the industry and C stands for Company.
        <ul class="clearfix">
          <li class="fa fa-send" style="margin-left: -50px;margin-bottom:10px;color:black;font-weight:bold;"><font style="font-size: 20px;margin-left: 10px;">Economy Analysis includes</font></li>
             <li>Economic trends like GDP, Employment, Personal Disposable Income, Balance of Payment, Inflation , Government Spending, Money Supply Etc.</li>
             <li>Economic Policies of government line Monetary Policy, Fiscal Policy, Industrial Policy,Exim Policy, wage and production.</li>
            <li>World Economic trends and its impact upon the Indian economy.</li></ul>
            <ul>
           <li class="fa fa-send" style="margin-left: -50px;margin-bottom:10px;color:black;font-weight:bold;"><font style="font-size: 20px;margin-left: 10px;">
           Industry Analysis includes</font></li>
           <li>Industry trend of growth, projection of the growth, corporate earnings, government regulations,Input-Output analysis of industry sales , Row material position in the world, sector analysis,business cycle of the industry, Labor Conditions, price and income elasticity, end product of the industry, entry barriers etc.</li>
           </ul>
           <ul>
           <li class="fa fa-send" style="margin-left: -50px;margin-bottom:10px;color:black;font-weight:bold;"><font style="font-size: 20px;margin-left: 10px;">
             Company Analysis includes</font></li>
         <li>Balance Sheet, Market Share, Cost Structure, Break Even Analysis, Turnover of assets, ratio analysis, Fund flow analysis, Profitability Analysis, Book Value analysis, estimation of dividend yield, Estimation of Price to earnings multiple, assessment of assets and liability. Intrinsic Value analysis.
          Based on the aforementioned analysis. </li>
<li>we generate the recommendation of investment as perthe risk bearing capacity and investor financial goal.</li>
</ul> 
<ul>
  <li class="fa fa-send" style="margin-left: -50px;margin-bottom:10px;color:black;font-weight:bold;"><font style="font-size: 20px;margin-left: 10px;">Short term and  Intraday calls</font></li>
  <li>Our approach for the short term and Intraday call is mainly based on technical analysis, our research team put their eyes on the technical chart of the stocks all the time of trading hours, and generate theintraday recommendation for the small profit.</li>
   <li>
  Even that stocks are selected based on the fundamental analysis. We have selected nearly 80-100 stocks for the intraday trading recommendation.
  </li>
  <li>Our so many clients are mainly intraday traders; their vision for the investment is just for one day or a few days. That kind of recommendation is mainly based on the technical analysis.</li>
  <li>Now come to the technical chart analysis, our team is expert in the analysis of technical chart, four
important bases are used in the technical analysis includes Price, Time, Volume and Breadth. In the
years of experience it is found that stock moves on trends. So we consider Dow Theory for the trend
finding. They use many kinds of indicator and patters like Moving Average, SMA, MACD, weighted
average moving average, Oscillators and many more.</li>
</ul>
<div class="clearfix"><hr></div>
          </p>
        </div> <!-- End col -->
      </div><!-- End row -->
  </section><!-- End container -->
      </div>
   
  </section> <!-- End Section -->
