<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="c1">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;">Equity Future</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Equity-Future</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->
<div class="line"></div>

<div class="padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
    <h2>Equity Cash Package :-</h2>
   <p class="text-justify" style="font-size: 18px;"> In this package we provide technical researched calls in the equity cash market segment. Most of the calls are intraday calls. We provide buying and selling levels with proper targets and compulsory one stop loss. Without stop loss trading is hazardous to your financial health.</p>
   <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>1-2 calls per day</li>
     <li>All the tips/calls will be entry price, target price and stop loss.</li>
     <li>Timely and regular follow up.</li>
     <li>Support and Resistance levels will be provided.</li>
     </div>

     <h2 style="margin-top: 50px;">Equity Premium Cash Package :-
     </h2>

     <p class="text-justify" style="font-size: 18px;"> In this premium package we provides customized and more specific need based research for the client. More specific research on all the levels to eliminate the associated risk. Although it is high risk investment segment.</p>

     <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>1-2 Calls per day.</li>
     <li>Specific client based research.</li>
     <li>More specific follow ups</li>
     <li>Research reports and market view discussion.</li>

      <li>Expert support</li>
     </div>
    </div>
    <div class="col-sm-4">
    <%= image_tag "Services/p1.jpg", class: "img-responsive", id: "m1"%>
    <div class="clearfix" style="margin-top: 40px;"></div>
    <div>
    <h2 style="margin-left: 30px;">Our Services</h2>
    <ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/equity-future"><font id="f1">Equity-Future</font></a>
      </li>
     </ul>
     <hr>
     <ul>
      <li class="fa fa-angle-right"><a href="/stock-option"><font id="f1">Stock Option</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/stock-future"><font id="f1">Stock Future</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/btst-package"><font id="f1">BTST Package</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/nifty-future"><font id="f1">Nifty Future</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/mcx"><font id="f1">MCX</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/position-mcx"><font id="f1">Positional MCX Package</font></a>
      </li>
    </ul>
    <hr>
    </ul>
    </div>
    </div>

    
  </div>
  </div>
  </div>
  <style type="text/css">
    #m1
    {
      min-height: 20%;
      width:80%;
      margin-left:50px;

    }
    #f1
    {
     margin-left:20px;
     font-size: 20px;
     color:#666;

   }
   #f1 hover
    {
     background-color: black;
   }
   #f3
   {
    font-size:18px;
   }
   #c1{
    background-color:#4183D7;
   }

  </style>