<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="c1">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;">(MCX)</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">(MCX)</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->
<div class="line"></div>

<div class="padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
    <h2>Base Metal+Energy+ Precius metal </h2>
   <p class="text-justify" style="font-size: 18px;"> In This service we provides recommendations on Global commodities like Gold,Silver, Crude Oil, Zinc many more. This service is design for the traders who trade in MCX . Trade View Research provides you Intraday Calls on MCX, our recommendation are the best Commodity Tips by keeping an eye on the global markets and co-relate the Indian markets with it. We ensure that you book maximum returns in the Commodity market by our superb Commodity tips.</p>
   <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>2-3 Intraday Calls daily.</li>
     <li>Daily News updates about all major commodities.</li>
     <li>TSupport &amp; Resistance and Trend of the Commodities.</li>
     <li>Complete follow ups.</li>
       <li>We assure good accuracy on consistent basis.</li>

       <h2 style="margin-top: 30px;">Base Metal + Energy :-</h2>
   <p class="text-justify" style="font-size: 18px;"> This services is designed for traders who needs risk aversion and want to trade in commodities. In this pack we provide trading recommendations in zinc, lead, aluminum, nickel and crude oil and NG. our this services offering for exploring the opportunities in this segment.</p>
   <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>2-3 Intraday Calls in Base Metals.</li>
     <li>Daily News updates about all major commodities.</li>
     <li>Support &amp; Resistance levels.</li>
     <li>Chat room will be provided.</li>
       <li>Achieved a high level of accuracy.</li>
     </div>
     </div>
     </div>
   
    <div class="col-sm-4">
    <%= image_tag "Services/p1.jpg", class: "img-responsive", id: "m1"%>
    <div class="clearfix" style="margin-top: 40px;"></div>
    <div>
    <h2 style="margin-left: 30px;">Our Services</h2>
    <ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/equity-future"><font id="f1">Equity-Future</font></a>
      </li>
     </ul>
     <hr>
     <ul>
      <li class="fa fa-angle-right"><a href="/stock-option"><font id="f1">Stock Option</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/stock-future"><font id="f1">Stock Future</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/btst-package"><font id="f1">BTST Package</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/nifty-future"><font id="f1">Nifty Future</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/mcx"><font id="f1">MCX</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/position-mcx"><font id="f1">Positional MCX Package</font></a>
      </li>
    </ul>
    <hr>
    </ul>
    </div>
    </div>

    
  </div>
  </div>
  </div>
  <style type="text/css">
    #m1
    {
      min-height: 20%;
      width:80%;
      margin-left:50px;

    }
    #f1
    {
     margin-left:20px;
     font-size: 20px;
     color:#666;

   }
   #f1 hover
    {
     background-color: black;
   }
   #f3
   {
    font-size:18px;
   }
   #c1{
    background-color:#4183D7;
   }

  </style>