<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="c1">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;">Nifty Future</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Nifty Future</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->
<div class="line"></div>

<div class="padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
    <h2>Risk Type : High Risk</h2>
    <p class="text-justify" style="font-size: 18px;"> In this package we provides recomandations on Nifty Future which is uniquely designed for Nifty traders trading in Nifty Future and Bank Nifty Future. This service is best suited to intraday traders. Our team of analysts who are specialized in Tracking Index and keep a complete global track of all the national and international events and Major Sectors and blend it with technical analysis to predict the market moves.</p>
   <h3 style="margin-top:40px;font-weight: normal;">Service Feature :-</h3>
   <div id="f3">
     <li>20-25 Recomandation each month. </li>
     <li>Track sheet will be updated on our website daily.</li>
     <li>Proper follow-ups and Market News Updates.</li>
     <li>Live Customer Support.</li>
     <li>Domestic and Global Market tracking.</li>
     <li>Nifty trend with support and resistance.</li>
     </div>

     
    
    </div>
    <div class="col-sm-4">
    <%= image_tag "Services/p1.jpg", class: "img-responsive", id: "m1"%>
    <div class="clearfix" style="margin-top: 40px;"></div>
    <div>
    <h2 style="margin-left: 30px;">Our Services</h2>
    <ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/equity-future"><font id="f1">Equity-Future</font></a>
      </li>
     </ul>
     <hr>
     <ul>
      <li class="fa fa-angle-right"><a href="/stock-option"><font id="f1">Stock Option</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/stock-future"><font id="f1">Stock Future</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/btst-package"><font id="f1">BTST Package</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/nifty-future"><font id="f1">Nifty Future</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/mcx"><font id="f1">MCX</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/position-mcx"><font id="f1">Positional MCX Package</font></a>
      </li>
    </ul>
    <hr>
    </ul>
    </div>
    </div>

    
  </div>
  </div>
  </div>
  <style type="text/css">
    #m1
    {
      min-height: 20%;
      width:80%;
      margin-left:50px;

    }
    #f1
    {
     margin-left:20px;
     font-size: 20px;
     color:#666;

   }
   #f3
   {
    font-size:18px;
   }
   #c1{
    background-color:#4183D7;
   }
  </style>