

<!-- Section Header Title -->
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="bg">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;"> Privacy Policy</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Privacy Policy</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->

<div class="line"></div>
 <div class="container" style="margin-top: 30px;">
<p class="text-justify">Generally, you may visit <a href="http://www.starworldresearch.com/">http://www.starworldresearch.com/</a> anonymously and obtain information about our Company and products and services without providing any personal information, such as your phone number or postal or e-mail address.</p>
<br>
<p style="text-align: justify;"><strong>PERSONAL INFORMATION</strong></p>
<br>
<p style="text-align: justify;">In a few sections of our Website, we ask you to provide information that will enable us to enhance your site visit or to follow up with you after your visit. It is completely optional for you to participate. For example, we request information from you when you:</p>
<br>
<p style="text-align: justify;">1.) Register with <a href="http://www.starworldresearch.com/">http://www.starworldresearch.com/</a> for filing online registration forms (like free trial)</p>
<br>
<p style="text-align: justify;">2.) Transact on the Site</p>
<br>
<p style="text-align: justify;">3.) Subscribe to a newsletter or a mailing list.</p>
<br>
<p style="text-align: justify;">In each of the above instances, we may ask for your name, e-mail address, telephone number, address and other personal information that is needed to register or subscribe you to services or offers.</p>
<br>
<p style="text-align: justify;"><strong>USE OF PERSONAL INFORMATION</strong></p>
<br>
<p style="text-align: justify;">The personal information you provide will be kept confidential and used to support our customer relationship with you. We may use the information you provide to inform you of special offers, upgrades and other services that may be of interest to you.</p>
<br>
<p style="text-align: justify;"><strong>CHANGES TO THIS POLICY</strong></p>
<br>
<p style="text-align: justify;">We may from time to time update this Policy. When we do so, we will post notice of any revisions on this site. We encourage you to review our Privacy Policy whenever you visit our Web site.</p>
<br>
</div>
<div class="clearfix" style="margin-bottom:90px;"></div>