<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="bg1">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;"> Refund Policy</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Refund Policy</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->

<div class="line"></div>
<div class="container">

  <section class="l-section wpb_row height_medium">
    <div class="l-section-h g-html i-cf">
      <div class="g-cols offset_small">
        <div class=" full-width">
          <div class="wpb_text_column ">
            <div class="wpb_wrapper">
              <p style="text-align: justify;">Star World Research appoint the best people in the research team who are well experienced and trained. They study the market minutely and takes all the necessary measures related to risk and rewards involved in markets before delivering any recommendations to client. We give the recommendation through a procedure and analysis. Subscribing with us is purely your own decision. We also provide free trials to secure and showcase the pattern of services, technical language and accuracy of services provided by us on free basis. once the client has make a decision of joining us there will be NO REFUND, CANCELLATIONS or TRANSFERS</p>
              <p style="text-align: justify;">Once you have made any payment for subscription to our website or in the bank account as mentioned in payment option. We believe that you have read and agreed to the Refund Policy of Star World Research that there will be NO REFUND, CANCELLATIONS or TRANSFERS are done in any case.</p>
              <h4 style="text-align: justify;">Before subscribing with Star World Research please make a note to go through these:</h4>
            <ul>
              <li style="text-align: justify;">Read the <a href="http://manageprojects.co.uk/starworldresearch/terms-condition/">terms and condition</a> page.</li>
              <li style="text-align: justify;">Go through the privacy policy of the company.</li>
              <li style="text-align: justify;">Have a look at the FAQ section.</li>
              <li style="text-align: justify;">Go through the about us page.</li>
              <li style="text-align: justify;">Analyze our performance through our track sheets.</li>
            </ul>
            <p style="text-align: justify;">We appeal to our visitors not to offer or allow anyone else even your family members, children and friends to use any electronic mode of payment or your personal account for taking subscription without your prior permission.</p>
            <p style="text-align: justify;">If client paid twice for one transaction, the one transaction amount will be refunded via same source within 10-15 working days.</p>
          </div> 
        </div> 
      </div>
    </div>
  </section>
</div>