

<!-- Section Header Title -->
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2>Our services</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Our Services</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->

<div class="line"></div>

<!-- Component Thumbnail Left Icon SVG -->
<div class="padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row clearfix">
      <div class="services-wrap">
        <div class="services-list-2">
          <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left ">

           <div class="thumbnail icon-left">
            
           <i class="fa  fa-cogs"></i>
             
            <div class="caption">
             <h4>Equity Future</h4>
             <p>
              In this package we provide technical researched calls in the equity cash market segment.
            </p>
            <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

            </a>
          </div>
        </div>

      </article><!-- End article -->
      <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left ">

       <div class="thumbnail icon-left">
       <i class="fa fa-check-square"></i>
             
         <div class="caption">
           <h4>Stock Option</h4>
           <p>
            Under this package we provide stock option tips/calls to the clients.
          </p>
          <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

          </a>
        </div>
      </div>

    </article><!-- End article -->
    <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left ">

     <div class="thumbnail icon-left">
    <i class="fa fa-soundcloud"></i>
       <div class="caption">
         <h4>Stock Future</h4>
         <p>
          In this Package we provide more specific and premium.
        </p>
        <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

        </a>
      </div>
    </div>

  </article><!-- End article -->
  <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left no-margin">

   <div class="thumbnail icon-left">
    <i class="fa fa-rocket"></i>
     <div class="caption">
       <h4>BTST Package</h4>
       <p>
        In this Package we provides recommendations for traders who is having one to two day investment prospective.
      </p>
      <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

      </a>
    </div>
  </div>

</article><!-- End article -->
<article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left no-margin">

 <div class="thumbnail icon-left">
   <i class="fa fa-cubes"></i>
   <div class="caption">
     <h4>Nifty Future</h4>
     <p>
      In this package we provides recomandations on Nifty Future which is uniquely designed for Nifty traders trading in Nifty Future and Bank Nifty Future.
    </p>
    <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

    </a>
  </div>
</div>

</article><!-- End article -->

<article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left no-margin">

 <div class="thumbnail icon-left">
   <i class="fa fa-tint"></i>
   <div class="caption">
     <h4>MCX</h4>
     <p>
      In This service we provides recommendations on Global commodities like Gold, Silver, Crude Oil, Zinc many more.
    </p>
    <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

    </a>
  </div>
</div>

</article><!-- End article -->

<article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left no-margin">

 <div class="thumbnail icon-left">
<i class="fa fa-leaf" style="margin-top: 40px;"></i>
   <div class="caption">
     <h4>Positional MCX Package.</h4>
     <p>
      In this package is specially designed for traders who don&#39;t want to get involved inintraday trading and whereas want to keep their positions hold and make big
profit.
    </p>
    <a class="learn-more" href="services-detail.html"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More

    </a>
  </div>
</div>

</article><!-- End article -->
<div class="clearfix" style="margin-bottom: 30px;"></div>

</div>
</div><!-- End Row -->
</div><!-- End container -->
</div> <!-- End section -->

