<section class="bg-grey padding-top-45 padding-bottom-45 clearfix" id="c1">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="col-md-12">
          <h2 style="color:white;">Stock Future</h2>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End container -->

</section><!--  End Section -->

<!-- Section BreadCrumb -->
<div class="no-padding border-bottom">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
     <ol class="breadcrumb breadcrumb-finance">
     <li><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li class="active">Stock Future</li>
    </ol>
  </div><!--  End col -->
</div> <!-- End Row -->
</div><!-- End container -->
</div><!--  End Section -->
<div class="line"></div>

<div class="padding-top-70 padding-bottom-70">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
    <h2>Stock Future Packages :-</h2>
   <p class="text-justify" style="font-size: 18px;"> In this package we provide calls on stock future contracts on derivative segments.Our research team takes out the technical researched calls through identifying the right levels on intraday bases which anable them to maximize the profit through reducing the risk. Although it is one of the high risk.This package is mainly suited for traders who want to explore intraday movements in futures.</p>
   <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>Around 5-6 Intraday Future Market calls</li>
     <li>Updates on important news &amp; information</li>
     <li>Follow-up messages of the calls</li>
     <li>Support &amp; resistance levels.</li>
     <li>Daily news letter with updates about market activities</li>
     </div>

     <h2 style="margin-top: 50px;">Stock Future Premium:-
     </h2>

     <p class="text-justify" style="font-size: 18px;"> In this Package we provide more specific and premium. This package is designed for the traders who want to earn more profit compared to regular stock future intraday services. Our Highly Skilled Research Team research team you can experience proficiency, talent and expertise all of which allow us to bring out the best in &quot;Stock Future Premium&quot; Service.</p>

     <h3 style="margin-top:40px;font-weight: normal;">Service Features</h3>
   <div id="f3">
     <li>1-2 INTRADAY DERIVATIVE MARKET CALLS.</li>
     <li>NIFTY TREND, RESISTANCE &amp; SUPPORT.</li>
     <li>PROPER FOLLOW UPS.</li>
     <li>Live Customer supports.</li>

      <li>More Accurate and Close Targets.</li>
     </div>
    </div>
    <div class="col-sm-4">
    <%= image_tag "Services/p1.jpg", class: "img-responsive", id: "m1"%>
    <div class="clearfix" style="margin-top: 40px;"></div>
    <div>
    <h2 style="margin-left: 30px;">Our Services</h2>
    <ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/equity-future"><font id="f1">Equity-Future</font></a>
      </li>
     </ul>
     <hr>
     <ul>
      <li class="fa fa-angle-right"><a href="/stock-option"><font id="f1">Stock Option</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/stock-future"><font id="f1">Stock Future</font></a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="fa fa-angle-right"><a href="/btst-package"><font id="f1">BTST Package</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/nifty-future"><font id="f1">Nifty Future</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/mcx"><font id="f1">MCX</font></a>
      </li>
    </ul>
    <hr>

    <ul>
      <li class="fa fa-angle-right"><a href="/position-mcx"><font id="f1">Positional MCX Package</font></a>
      </li>
    </ul>
    <hr>
    </ul>
    </div>
    </div>

    
  </div>
  </div>
  </div>
  <style type="text/css">
    #m1
    {
      min-height: 20%;
      width:80%;
      margin-left:50px;

    }
    #f1
    {
     margin-left:20px;
     font-size: 20px;
     color:#666;

   }
   #f3
   {
    font-size:18px;
   }
   #c1{
    background-color:#4183D7;
   }
   
  </style>