<!-- Footer --> 
<footer class=" bg-dark footer">
  <div class="container">
    <div class="row">
      <div class="footer-row">

        <div class="footer-col-1">
          <a href="index.html">
          <%= image_tag "Footer/logo-footer.png", class: "img-responsive", alt: "Image", id:"img1"%>
          </a>                    
          <ul class="clearfix">
            <li><a href="services-detail.html">Finacial Planning</a></li>
            <li><a href="services-detail.html">Insurance Consulting</a></li>
            <li><a href="services-detail.html">Investments Management</a></li>
            <li><a href="services-detail.html">Retirement Strategies</a></li>
            <li><a href="services-detail.html">Taxes Planning</a></li>
            <li><a href="services-detail.html">Business Loan</a></li>
          </ul>
        </div>


        <div class="footer-col-2">
          <h3 class="text-white">Contact us</h3>
          <div class="border-2-side">
            <p>Address: 8th floor, 379 Hudson St, New York, NY 10018</p>
            <p><span >Phone: (+1) 96 716 6879</span></p>
            <p><span >Email: contact@site.com</span></p>
          </div>
        </div>


        <div class="footer-col-3">
          <h3 class="text-white">Follow us</h3> 
          <ul class="social social-footer">
            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div> <!-- End footer row -->
      <div class="col-md-12 footer-link">
        <p>Copyright © 2016 Designed by AuThemes. All rights reserved.</p>
        <ul>
          <li><a href="about.html">About </a></li>
          <li><a href="contact.html">Contact Us </a></li>
          <li><a href="#">Term & Conditions</a></li>
          <li><a href="#">Privacy Policy </a></li>
          <li><a href="#">Sites Map</a></li>
        </ul>
      </div>
    </div><!-- End Row -->

  </div><!-- End container -->
</footer><!-- End  -->

</div><!-- End Page -->
<!-- Loading Lazy Images -->
<div id=jSplash>
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<div id="overlay"></div>
<!-- Overlay Mobile Menu Click -->
<a id="to-the-top" style="display: block;"><i class="fa fa-angle-up"></i></a> <!-- Back To Top -->
    <!-- SCRIPT
    ================================================== -->
    

  </body>
  </html>
  <style type="text/css">
    #img1
    {
      width: auto;
    }
  </style>