<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
  <!-->
  <html class="no-js" lang="en"><!--<![endif]-->
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Finance</title>
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Font
  ================================================== -->
  
  
  
</head>
<body>

  <div class="mobile-menu-first">
    <div id="mobile-menu" class="mobile-menu-light">
      <div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
        <div class="header-mobile-menu hmm-v1">
          <span class="has-icon sm-icon"><span class="lnr lnr-phone-handset icon-set-1 icon-xs "></span> <span class="sub-text-icon text-middle"><strong>0112-826-2789</strong></span></span>
          <a href="#" class="ot-btn btn-rounded btn-hightlight-color">Get A Quote</a>
        </div> <!-- Mobile Menu -->
        <ul>
          <li>
            <a href="/">Home</a>
         </li> 
         <li><a href="/about">About Us </a></li>               

         <li><a href="/service">Services</a>
          <ul>
            <li><a href="/equity-future">Equity Future</a></li>
            <li><a href="/stock-option">Stock Option</a></li>
            <li><a href="/stock-future">Stock Future</a></li>
            <li><a href="/btst-package">BTST Package</a></li>
            <li><a href="/nifty-future">Nifty Future</a></li>
            <li><a href="/mcx">MCX</a></li>
            <li><a href="/position-mcx">Positional MCX Package.</a></li>
          </ul>
        </li>
         <li><a href="blogList.html">Pricing</a></li> 
        <li><a href="contact.html">Contact Us </a>
        </li>
        <li><a href="projectList.html">More </a>
         <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/refund-policy"> Refund Policy</a></li>
          <li><a href="projectsDetail.html">
           Terms & Condition</a></li>
            <li><a href="projectsDetail.html">
           Disclaimer</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer-mobile-menu fmm-v1">
      <ul class="social">
        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>

      <ul class="address-footer-mobile">

        <li><a href="">
        <span class="lnr lnr-map-marker">
        </span> 8th floor, 379 Hudson St, New York, NY 10018</a></li>
        <li><a href="tel:18001236879 "><span class="lnr lnr-smartphone"></span> 1-800-123-6879 </a></li>
        <li><a href="mailto:contact@finance.com"><span class="lnr lnr-envelope"></span> contact@finance.com</a></li>

      </ul>
    </div>
  </div> <!-- /#rmm   -->
</div>
</div><!-- End Mobile Menu -->

<div id="page">
  <header id="sticked-menu" class="header header-v1">
    <div class="logo">
      <div class="mm-toggle">
        <i class="fa fa-bars"></i><span class="mm-label">Menu</span>
      </div> <!-- End button mobile menu -->
      <a href="index.html">
      <%= image_tag "Header/logo.png", alt: "Image", class: "img-responsive" %></a>
    </div><!-- End Logo -->
    <nav class="navi-desktop-site">
      <ul class="navi-level-1">
        <li class="has-sub"><a href="/">Home</a>
      </li>
       <li><a href="/about">About Us</a></li>
      <li class="has-sub"><a href="/service">Services <i class="fa fa-angle-down"></i></a>
        <ul class="navi-level-2">
          <li><a href="/equity-future">Equity Future</a>
          </li>
          <li><a href="/stock-option">Stock Option</a></li>
          <li><a href="/stock-future">Stock Future</a></li>
          <li><a href="/btst-package">BTST Package</a></li>
          <li><a href="/nifty-future">Nifty Future</a></li>
          <li><a href="/mcx">MCX</a></li>
          <li><a href="/position-mcx">Positional MCX Package.</a></li>
        </ul>
      </li>
      <li class="has-sub"><a href="contact.html">Contact Us </a>
     </li>
     <li class="has-sub"><a href="">More  <i class="fa fa-angle-down"></i></a>
       <ul class="navi-level-2">
        <li><a href="/privacy-policy ">Privacy Policy</a></li>
          <li><a href="/refund-policy"> Refund Policy</a></li>
          <li><a href="projectsDetail.html">
           Terms & Condition</a></li>
            <li><a href="projectsDetail.html">
           Disclaimer</a></li>
      </ul>
    </li>
  </ul>
</nav> <!-- End Navi Desktop -->
<div class="navi-right">
  <ul>
    <li ><span class="has-icon sm-icon" ><span class="lnr lnr-phone-handset icon-set-1 icon-xs"></span> <span class="sub-text-icon text-middle sub-text-middle">0112-826-2789</span></span></li>
    <li>
      <a href="#" class="ot-btn btn-rounded btn-hightlight-color">Get A Quote</a>
    </li>
  </ul>
</div>
</header><!-- END HEADER -->
</body>
</html>
